{% extends '../layout.server.view.html' %}
{% block content %}
 <script>
        var socket = io.connect('/');

        socket.on('message', function(data) {
            data = JSON.parse(data);

          if (data.username) {
            $('#adminViewMessage').append('<div class="' + data.type + '"><span class="name">' + data.username + ":</span> " + data.message + '</div>');
          } else {
            $('#adminViewMessage').append('<div>' + data.message + '</div>');
          }

        });

        var k = function(key){
            console.log(key);
//          socket.emit('joinRoom',key);
        }

        socket.on('newcomer', function(data){
          for (key in data) {
            $('#roomList').append('<button type="button" onclick="k({key:'+ key +'})" class ="userID button" >' + data[key] + '</button>');
          }
        })

        $(function () {
            $('#adminsendMessage').click(function() {
                var data = {
                    message: $('#adminMessage').val(),
                    type:'adminMessage',
                    username: 'Admin'
                };
                socket.send(JSON.stringify(data));
                $('#adminMessage').val('');
            });
        });

    </script>


  <section id="content">
    <div class="container">
      <div class ="row">
      <div class="col-md-9">
        <div class="form-group">
          <div id="adminViewMessage" style="height: 500px;background-color: white">
            {#noi dung message#}
          </div>
        <div class="inputAdminMessage">
          <input  class ="form-control" type="text" id="adminMessage" />
          <input class="button" type="submit" id ="adminsendMessage"/>
        </div>
        </div>
      </div>
      <div class="col-md-3">
        <div id="roomList">

        </div>
      </div>
    </div>
    </div>
  </section>
{% endblock %}