{% extends '../layout.html' %}

{% block content %}

    <div id="helloReact">

    </div>

    <script type="text/jsx">
        var EpisodeRow = React.createClass({
            render: function() {
                return (
                        <p> Hello React</p>
                );
            }
        });

        React.render(
                <EpisodeRow />,
                document.getElementById('helloReact')
        );

    </script>





{% endblock %}