<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <script src="/javascripts/jquery-1.11.2.min.js"></script>
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <script src="/bootstrap/js/bootstrap.min.js"> </script>
    <script src="/javascripts/socket.io.js"></script>
    <script src="/javascripts/react.js"></script>
    <script src="/javascripts/JSXTransformer.js"></script>
    {% block head %} {% endblock %}
    <title></title>
</head>
<body>
{% block content %} {% endblock %}
</body>
</html>