{% extends '../layout.html' %}

{% block content %}
    <style>
        .chat-box {
            font:normal normal 11px/1.4 Tahoma,Verdana,Sans-Serif;
            color:#333;
            width:250px; /* Chatbox width */
            border:1px solid #344150;
            border-bottom:none;
            background-color:white;
            position:fixed;
            left:10px;
            bottom:10px;
            z-index:9999;

        }

        .chat-box > input[type="checkbox"] {
            display:block;
            margin:0 0;
            padding:0 0;
            position:absolute;
            top:0;
            right:0;
            left:0;
            width:100%;
            height:26px;
            z-index:4;
            cursor:pointer;
            opacity:0;
            filter:alpha(opacity=0);
        }

        .chat-box > label {
            display:block;
            height:24px;
            line-height:24px;
            background-color:#344150;
            color:white;
            font-weight:bold;
            padding:0 1em 1px;
        }
        .popup {
            position: relative;
            height: 100px;
            width: 248px;
            background: #FFFFFF;
            margin-top: 30px;
        }
        .pophead {
            background-color: #4192C1;
            color: #FFFFFF;
            font-weight: bold;
            padding: 8px 3px;
            vertical-align: middle;
        }
        .popbody {
            padding: 10px 5px;
        }

        #viewMessage {
            padding-left: 5px;
        }

        .chat-box > label:before {content:attr(data-collapsed)}

        .chat-box .chat-box-content {
            padding-top: 10px;
            display:none;
        }

        /* hover state */
        .chat-box > input[type="checkbox"]:hover + label {background-color:#404D5A}

        /* checked state */
        .chat-box > input[type="checkbox"]:checked + label {background-color:#212A35}
        .chat-box > input[type="checkbox"]:checked + label:before {content:attr(data-expanded)}
        .chat-box > input[type="checkbox"]:checked ~ .chat-box-content {display:block}

        .inputMessage {
            position: fixed;
            bottom: 10px;
        }

    </style>

    <script>
        var socket = io.connect('http://localhost:3000');

        socket.on('readyChat', function(data) {
            $('#viewMessage').append(
                    '<div class="systemMessage">' + 'Hello ' + data.name +'</div>'
            );

            $(function () {
                $('#sendMessage').click(function() {

                    var data = {
                        message: $('#userMessage').val(),
                        type:'userMessage'
                    };
                    socket.send(JSON.stringify(data));
                    $('#userMessage').val('');
                });
            });
        });

        socket.on('message', function(data) {
            data = JSON.parse(data);
            console.log(data);
            if (data.username) {
                $('#viewMessage').append('<div class="' + data.type + '"><span class="name">' + data.username + ":</span> " + data.message + '</div>');
            } else {
                $('#viewMessage').append('<div>' + data.message + '</div>');
            }
        })


        $(function(){
            $('#setname').click(function(){
                socket.emit("set_name", {name: $('#nickname').val()});
                $('#name-form').hide();
                $('#input-form').show();
            });
        });

    </script>

    <div class="chat-box"></div>
    <div class="chat-box">
        <input type="checkbox" />
        <label data-expanded="Close Chatbox" data-collapsed="Open Chatbox"></label>
        <div class="chat-box-content" style="height: 300px">
            <section id="chat-form">
                <div id="viewMessage">
                    {#noi dung message#}
                </div>
            </section>
            <section id="name-form">
                <div class="popup">
                    <div class="pophead">Please enter a nickname</div>
                    <div class = "popbody">
                        <input id="nickname" type="text"/>
                        <input id="setname" type="button" value="setName"/>
                    </div>
                </div>
            </section>
            <section id="input-form" style="display: none">
                <div class="inputMessage">
                    <input type="text" id="userMessage" />
                    <input type="submit" id ="sendMessage"/>
                </div>
            </section>
        </div>
    </div>

{% endblock %}