{% extends '../layout.html' %}
{% block head %}
  <link href="/stylesheets/chatbox.css" rel="stylesheet">
{% endblock %}

{% block content %}

  <script>
    $(function(){
      $('#header-bar').click(function(){
        if ($('#chat-form').css('display') == 'none') {
          $('#chat-form').show();
        } else {
          $('#chat-form').hide();
        }
      });
    })

    var socket = io.connect('http://localhost:3000');
    var myID;

    $(function(){
      $('#nickname').on('keydown',function(key){
        if (key.which == 13) {
          socket.emit("set_name", {name: $('#nickname').val()});
          $('#name-form').hide();
          $('#message-form').show();
          $('#input-form').show();
        }
              }
      );
    });

    socket.on('readyChat', function(data) {
      data = JSON.parse(data);
      $('#message-form').append(
      "<li class='systemMessage'> <div class='avatar-icon'> <img src='/images/icon1.png'></div><div class='messages'>\
      <p>" + "Xin chào " + data.data.name + "</p></div></li>"
      );
      myID = data.id;
      console.log(myID);
    });

    $(function () {
      $('#sendMessage').click(function() {
        sendMessage();
      });
      $('#userMessage').on('keydown', function(key){
        if (key.which == 13) {
          sendMessage();
        }
      })

    });

    socket.on('message', function(data) {
      data = JSON.parse(data);
      if (data.username) {
        $('#message-form').append(
                "<li class='"+ data.type + "'> <div class='avatar-icon'> <img src='/images/icon2.png'></div><div class='messages'>\
                <p>" + data.message + "</p></div></li>"
        );
      } else {
        $('#message-form').append(
                "<li class='"+ data.type + "'> <div class='avatar-icon'> <img src='/images/icon1.png'></div><div class='messages'>\
                <p>" + data.message + "</p></div></li>"
        );
      }

    });

    var sendMessage = function() {
      var data = {
        message: $('#userMessage').val(),
        type:'userMessage',
        id: myID
      };
      socket.send(JSON.stringify(data));
      $('#userMessage').val('');
    }

    var receiveMesage = function() {

    }

  </script>


  <section class='chat-container'>
    <header class='top-header' id="header-bar">
      <div class='left'>
        <span class='icon typicons-message'></span>
        <span class='top-header-tit'>Chat with us</span>
      </div>
      <div class='right'>
        <span class='icon typicons-minus'></span>
      </div>
    </header>
    <div  id="chat-form"  style="display: none">
      <ol class='chat-box' id ="name-form">
        <li class='another'>
          <div class='avatar-icon'>
            <img src='/images/icon1.png'>
          </div>
          <div class='messages'>
            <p> Xin chào , hãy cho biết thông tin của bạn để chúng tôi có thể phục vụ bạn tốt hơn</p>
            <p> Tên của bạn : <input id="nickname" type="text"/> </p>
          </div>
        </li>
      </ol>
    <ol class='chat-box' id = "message-form" style="display:none;">

    </ol>
    <section id="input-form" style="display: none">
      <div class="inputMessage">
        <input type="text" id="userMessage" style="width: 70%"/>
        <button type="submit" id ="sendMessage" style="width: 27%">Gui</button>
      </div>
    </section>
    </div>
  </section>

{% endblock %}