{% extends '../layout.html' %}
{% block content %}

    <section class="container center-block">
        <div class="row">
            <h1>DEMO</h1>
        </div>
        <div id = "messageView" class="jumbotron" style="height: 300px;background-color: #96ffd0 ">

        </div>
        <div id = "nameForm" class="form-inline" style="align-content: center">
            <div class="form-group">
                <input id="nameInput" type="text" class="form-control" style="width: 300px;">
                <input id="sendName" type="submit" class="btn-success form-control" value="Input Name">
            </div>
        </div>
        <div id = "inputForm" class="form-inline" style="display: none;">
            <div class="form-group">
                <input id="messageInput" type="text" class="form-control" style="width: 500px;">
                <input id="sendMessage" type="submit" class="btn-success form-control">
            </div>
        </div>
    </section>



    <script>
        var socket = io.connect('http://localhost:3000/demo');

        socket.on('message', function(data) {
            data = JSON.parse(data);
            $('#messageView').append('<div class="' + data.type + '"><span class="name">' + data.username + ":</span> " + data.message + '</div>');

        })

        $(function() {
            $('#sendName').click(function(){
                var data = {
                    nickname: $('#nameInput').val()
                }
                socket.emit('setName',data);
                $('#inputForm').show();
                $('#nameForm').hide();
            })
        })


        $(function () {
            $('#sendMessage').click(function() {
                var data = {
                    message: $('#messageInput').val()
                };
                socket.send(JSON.stringify(data));
                $('#messageInput').val('');
            });
        });

    </script>

    <script type="text/jsx">

    </script>

{% endblock %}