{% extends '../layout.html' %}

{% block content %}
    <style>
        .adminMessage {
            color: yellow;
            text-align: left;
        }

        .userMessage {
            color: green;
            text-align: right;

        }

        .systemMessage {
            color: red;
        }

    </style>

    {#<section class="container center-block">#}
        {#<div class="row">#}
            {#<h1>MANAGER</h1>#}
        {#</div>#}
        {#<div id = "messageView" class="jumbotron" style="height: 300px;background-color: #96ffd0 ">#}

        {#</div>#}
        {#<div class="form-inline">#}
            {#<div class="form-group">#}
                {#<input id="messageInput" type="text" class="form-control" style="width: 500px;">#}
                {#<input id="sendMessage" type="submit" class="btn-success form-control">#}
                {#<input id="logout" type="button" class="btn-primary form-control" value="LOG OUT"/>#}
            {#</div>#}
        {#</div>#}
    {#</section>#}



    {#<script>#}
        {#var socket = io.connect('http://localhost:3000/admin');#}
        {#$(function(){#}
            {#$("#logout").click(function(){#}
                {#socket.emit('logout');#}
            {#})#}
        {#})#}
    {#</script>#}





    <h1>MANAGER CHAT</h1>
    <script>
        var socket = io.connect('http://localhost:3000');

        socket.on('message', function(data) {
            data = JSON.parse(data);
            addMessage(data);
        });


        $(function () {
            $('#sendMessage').click(function() {
                var data = {
                    message: $('#adminMessage').val(),
                    type:'adminMessage',
                    username: 'Admin'
                };
                socket.send(JSON.stringify(data));
                $('#adminMessage').val('');
            });
        });

        //Get list user online

        $(function () {
            $('#startSupport').click(function () {
                socket.emit('startSupport',{id : socket.id});
                $('#form-input').show();
                $('#startSupport').hide();
            })
        })

        $(function () {
            $('#refreshButton').click(function() {
                socket.emit('startSupport',{id : socket.id});
            })
        })


        socket.on('listUser',function(data){
            $('#list-user div').remove();
            data = JSON.parse(data);
            for ( key in data) {
                $('#list-user').append(
                        '<div style="margin: 0 auto;"><button class="changeUser btn-primary" value="'+ key +'">' + data[key].name + '</button></div>'
                )
                $(function(){
                    $('.changeUser').click(function(){
                        socket.emit('changeUser',{userID : $(this).val() });
                        $('.changeUser').css('background-color','blue');
                        $(this).css('background-color','red');
                    })
                })
            }
        })

        // Get log chat by User
        socket.on('getLogChatByUser',function(data){
            $('#form-chat div').remove();
            data = JSON.parse(data);
            console.log(data);
            for (key in data) {
                addMessage(data[key]);
            }
        })


        /*
        ADDITION FUNCTION
         */
        var addMessage = function(data){
            switch (data.type) {
                case 'systemMessage':
                    $('#form-chat').append('<div class="' + data.type + '">' + data.message + '</div>');
                    break;
                case 'userMessage':
                    $('#form-chat').append('<div class="' + data.type + '"><span class="name">' + data.username + ":</span> " + data.message + '</div>');
                    break;
                case 'adminMessage':
                    $('#form-chat').append('<div class="' + data.type + '"><span class="name">' + data.username + ":</span> " + data.message + '</div>');
                    break;
            }
        }
        //

    </script>

    <section id="chat-box" class="container">
        <div class="row">
            <table>
                <tr>
                    <th>
                        List user
                    </th>
                    <th>
                        Chat box
                    </th>
                </tr>
                <tr>
                    <td >
                        <div id="list-user" style="height: 250px;width: 150px;background-color: #e4ff93;display: block;overflow-y: scroll">

                        </div>
                    </td>
                    <td>
                        <div id="form-chat" style="height: 250px;width: 500px;background-color: #c2ff87;overflow-y: scroll;">

                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <div class="row">
            <input class="button" type="submit" id ="startSupport" value="Start"/>
        </div>
        <div class="row">
            <div id="form-input" style="display: none">
                <div class="inputAdminMessage">
                    <input  type="text" id="adminMessage" />
                    <input class="button" type="submit" id ="sendMessage"/>
                    <input type="button" class="button" id ="refreshButton" value="Refresh"/>
                </div>
            </div>
        </div>
    </section>

{% endblock %}