{% extends '../layout.html' %}
{% block head %}
    <link href="/stylesheets/chatbox.css" rel="stylesheet">
{% endblock %}

{% block content %}

    <h1>MANAGER CHAT</h1>
    <script>
        var socket = io.connect('http://localhost:3000');
        var adminID;

        socket.on('message', function(data) {
            data = JSON.parse(data);
            addMessage(data);
        });


        $(function () {
            $('#adminMessage').on('keydown', function(key){
                if (key.which == 13) {
                    sendMessage();
                }
            });
        });

        //Get list user online
        socket.on('setupAdmin',function(data){
            adminID = data;
            console.log(adminID);
        })


        $(function () {
            $('#startSupport').click(function () {
                socket.emit('startSupport',{id : socket.id});
                $('#form-input').show();
                $('#startSupport').hide();
            });
        });

        $(function () {
            $('#refreshButton').click(function() {
                socket.emit('startSupport',{id : socket.id});
            });
        });


        socket.on('listUser',function(data){
            $('#list-user tr').remove();
            data = JSON.parse(data);
            for ( key in data) {
                $('#list-user').append(
                        '<tr style="width: 100%" class="userRow">' +
                            '<td style="width: 20%"><div style="margin-left: 8px;" class="'+ data[key].userState  +'"></div></td>' +
                            '<td style="width: 70%"><button class="btn changeUser btn-default" value="'+ key +'">' + data[key].name + '</button></td>' +
                            '<td style="width: 10%"><div class="notification '+ data[key].showNotify + '"  style="float: right">' + data[key].numberMessage  + ' </div></td>' +
                        '</tr>'
                )
                $(function(){
                    $('.changeUser').click(function(){
                        socket.emit('changeUser',{userID : $(this).val()});
                        $('.changeUser').css('background-color','red');
                        $(this).css('background-color','#5cb85c');
                    })
                })
            }

        })

        // Get log chat by User
        socket.on('getLogChatByUser',function(data){
            $('#form-chat li').remove();
            data = JSON.parse(data);
            for (key in data) {
                addMessage(data[key]);
            }
        })

        /*
         ADDITION FUNCTION
         */
        var addMessage = function(data){
            switch (data.type) {
                case 'systemMessage':
                    $('#form-chat').append("<li class='"+ data.type + "'> <div class='avatar-icon'> <img src='/images/icon1.png'></div><div class='messages'>\
                <p>" + data.message + "</p></div></li>");
                    break;
                case 'userMessage':
                    $('#form-chat').append("<li class='"+ data.type + "'> <div class='avatar-icon'> <img src='/images/icon2.png'></div><div class='messages'>\
                <p>" + data.message + "</p></div></li>");
                    break;
                case 'adminMessage':
                    $('#form-chat').append("<li class='"+ data.type + "'> <div class='avatar-icon'> <img src='/images/icon1.png'></div><div class='messages'>\
                <p>" + data.message + "</p></div></li>");
                    break;
            }
            var element = document.getElementById("form-chat");
            element.scrollTop = element.scrollHeight;
        }

        var sendMessage = function() {
            var data = {
                message: $('#adminMessage').val(),
                type:'adminMessage',
                username: 'Admin'
            };
            socket.send(JSON.stringify(data));
            $('#adminMessage').val('');
        }
        //

    </script>


    <section id="chat-box" class="container">
        <div style="height: 400px">

            <div>
                <table>
                    <tr class="row">
                        <th class="col-md-8" style="text-align: center">
                            Chat box
                        </th>
                        <th class="col-md-4">
                            List user
                            <button type="button" style="float: right" class="btn btn-default" id ="refreshButton">
                                <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
                            </button>
                            <button type="button" style="float: right" class="btn btn-default" id ="refreshButton">
                                <span class="glyphicon glyphicon-save" aria-hidden="true"></span>
                            </button>
                        </th>
                    </tr>
                    <tr  class="row">
                        <td class="col-md-8">
                            <ol class='chat-box' id = "form-chat" style="height: 400px;">

                            </ol>
                        </td>
                        <td class="col-md-4">
                            <table  id="list-user" style="height: 400px; width: 100%;background-color: #e4ff93;display: block;overflow-y: scroll">

                            </table>
                        </td>
                    </tr>
                </table>
            </div>
            <div style="margin-top: 10px;padding-left: 15px">
                <input  class="btn-lg" type="submit" id ="startSupport" value="Start" style="margin: auto"/>
            </div>
            <div id="form-input" style="display: none">
            <div class="col-md-8">
                    <div class="inputAdminMessage">
                        <input  type="text" id="adminMessage" style="width: 100%"/>
                    </div>
            </div>
            <div class="col-md-4">
                <button style="float: right" class="button" id ="deleteUser" > Delete </button>
            </div>
            </div>
        </div>
    </section>

{% endblock %}