{% extends './layout.html' %}

{% block content %}
<h1>MANAGER CHAT</h1>
        <script>
            var socket = io.connect('http://localhost:3000');

            socket.on('message', function(data) {
                data = JSON.parse(data);

                if (data.username) {
                    $('#form-chat').append('<div class="' + data.type + '"><span class="name">' + data.username + ":</span> " + data.message + '</div>');
                } else {
                    $('#form-chat').append('<div>' + data.message + '</div>');
                }

            });

            socket.on('readyChat', function(data){
                $('#form-chat').append('<div>' + 1 + '</div>');
            })

            $(function () {
                $('#sendMessage').click(function() {
                    var data = {
                        message: $('#adminMessage').val(),
                        type:'adminMessage',
                        username: 'Admin'
                    };
                    socket.send(JSON.stringify(data));
                    $('#adminMessage').val('');
                });
            });

            //Get list user online
            $(function () {
                $('refreshButton').click(function () {
                    socket.emit('getListUser');
                });
            })



        </script>

        <section id="chat-box" class="container" style="border: 1px solid red">
            <div class="row">
                <div id="form-chat" style="height: 250px">

                </div>
            </div>
            <div class="row">
                <div id="form-input">
                    <div class="inputAdminMessage">
                        <input  type="text" id="adminMessage" />
                        <input class="button" type="submit" id ="sendMessage"/>
                        <input type="button" class="button" id ="refreshButton" value="Refresh"/>
                    </div>
                </div>
            </div>
        </section>

{% endblock %}